In [107]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

In [108]:
#Open data set

df = pd.read_csv("/Users/elijahwoolford/Desktop/python /WELLCOME_APCspend2013_forThinkful.csv", encoding="ISO-8859-1")
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [109]:
df = df.rename(columns={"COST (£) charged to Wellcome (inc VAT when charged)" : "cost"})
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,cost
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [110]:
#Clean the prices 
cost = []
for i in range(len(df["cost"])):
    cost.append(float(df["cost"][i].replace("$","").strip("£")))
df["cost"] = cost

In [111]:
#Gets rid of special characters and puts everything as lowercase
for i in range(len(df["Journal title"])):
    df["Journal title"][i] = str(df["Journal title"][i]).lower()
    if "&" in df["Journal title"][i]: 
        re.sub('&', 'and', df["Journal title"][i])
    elif "." in df["Journal title"][i]:
        re.sub('.', '', df["Journal title"][i])
    elif ":" in df["Journal title"][i]:
        re.sub(':', '', df["Journal title"][i])

In [133]:
#Takes care of mispellings and sorts in alphabetical order 
df = df.sort_values('Journal title')
for i in range(len(df)):
    if "acta crystallographica" in df["Journal title"][i]:
        df["Journal title"][i] = "acta crystallographica"

mispelled = {
    "angewandte chemie":["angewande chemie","angewandte chemie international edition"],
    "antimicrobial agents and chemotherapy":["antimicobial agents and chemotherapy"],
    "behavior research and therapy":["behaviour research and therapy"],
    "biochemical journal":["biochemical journals"],
    "biochimica":["biochimie"],
    "blood":["blood journal 2012"],
    "bmj":["bmj open"],
    "british journal of pharmacology":["brt jnl clinical pharmacology"],
    "embo journal":["embo","embo reports"],
    "epigenetics":["epigentics"],
    "european journal of immunology":["eur j immunol"],
    "febs journal":["febs j"],
    "journal of virology":["journal of virol"],
    "nucleic acids research":["nucleic acid research"],
}
for journal in df["Journal title"]:
    for k, v in mispelled.items():
        if journal in v:
            df["Journal title"][df["Journal title"] == journal] = k
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,cost
439,PMC3378987\n,Elsevier,academy of nutrition and dietetics,Parent support and parent mediated behaviours ...,2379.54
21,NaN,American Chemical Society,acs chemical biology,Discovery of ?2 Adrenergic Receptor Ligands Us...,947.07
20,: PMC3805332,American Chemical Society,acs chemical biology,Synthesis of alpha-glucan in mycobacteria invo...,2286.73
19,PMID: 24015914 PMC3833349,American Chemical Society,acs chemical biology,Discovery of an allosteric inhibitor binding s...,1267.76
9,PMCID: PMC3621575,ACS (Amercian Chemical Society) Publications,acs chemical biology,Chemical proteomic analysis reveals the drugab...,1294.78

In [135]:
#Fixes outliers
for i in range(len(df["cost"])):
    if df["cost"][i] == 999999.00:
        df["cost"][i] = None

In [136]:
average = df.groupby("Journal title").mean()
average.head()

                                         cost
Journal title
academy of nutrition and dietetics  2379.5400
acs chemical biology                1418.1860
acs chemical neuroscience           1186.8000
acs nano                             668.1400
acta crystallographica              1569.0485

In [137]:
median = df.groupby("Journal title").median()
median.head()

                                        cost
Journal title
academy of nutrition and dietetics  2379.540
acs chemical biology                1294.590
acs chemical neuroscience           1186.800
acs nano                             668.140
acta crystallographica              1892.525

In [138]:
std = df.groupby("Journal title").std()
std.head()

                                          cost
Journal title
academy of nutrition and dietetics         NaN
acs chemical biology                507.309560
acs chemical neuroscience                  NaN
acs nano                             35.708892
acta crystallographica              767.487417